.button {
  background-color: rgb(10, 25, 47); /* Green */
  border: none;
  color:rgb(100, 255, 218); 
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid rgb(191, 233, 223);
}
.media {
    font-size:36px; 
    color: rgb(204, 214, 246);

}
.media:hover {
    color: rgb(114, 201, 178);  
}

.row {
width: 100%;
/*margin: 0 auto;*/
text-align: center;
}
.block {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
}