<div class="text">
    <div>
        <div class="head">Full Stack Dev</div>
        <div class="Company">@ Nationwide Insurance</div>
        <div style="margin-top:.8em">October 2017 - January 2019</div>

        <div>
            <ul class="arrow">
                <li class="color" style="margin-top:1.5em">
                    <div class="point1">
                        Developed the functionality, performance and designing issues with, HTML5, CSS3, JavaScript,
                        AngularJS and Typescript..</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point2">
                        Developed a tool to retrieve and send data to third party service provider this feature was
                        implemented
                        using REST.</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point3">
                        Written extensive programming in Typescript for automating the functional and regression testing
                        through Protractor which is an End-to-end testing framework for Angular JS application.</div>
                </li>
            </ul>
        </div>
    </div>
</div>