<div class="text">
    <div>
        <div class="head">Full Stack Dev</div>
        <div class="Company">@ Gordian</div>
        <div style="margin-top:.8em">September 2016 - September 2017</div>

        <div>
            <ul class="arrow">
                <li class="color" style="margin-top:1.5em">
                    <div class="point1">
                    Worked on complete life cycle of software development, which included new requirement gathering,
                    redesigning and implementing the business specific functionalities..</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point2">
                    Implemented Spring framework for the backend development. Used Spring AOP and Dependency.</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point3">
                        Worked on end-end development of the project. Worked extensively on HTML, XHTML, CSS, JavaScript
                        and JSP for development UI.</div>
                </li>
            </ul>
        </div>
    </div>
</div>