<div class="centerAbout">

    <div class="headings">
        <span class="numbers">01 . </span>About Me
        <hr class = "new1">
    </div>

    <diV class = "fixed">

    <p>Hello! I'm Srinivas, I am a Full Stack engineer with website development, automation Ops and writing scripts experience. Life is a continuous
    learning process, so work makes me more rigorous, travel makes my life more colorful.</p>

    <p>I enjoy creating things that live on the internet, whether that be websites, applications, or anything in
        between. My
        goal is to always build products that provide perfect, performant experiences.</p>

    <p>While graduating from <a href="{{university}}" class="link" target="_blank">Cumberlands University</a>, I joined the engineering team at <a href= "{{office}}" class="link" target ="_blank">NationWide </a> where I work
        on a
        wide variety of interesting and meaningful projects on a daily basis.</p>
   </diV>
  
</div>
