.centerAbout {
padding: 245px;
color:  rgb(136, 146, 176);
font-size: 18px;
}
img {
border-radius: 8px;
margin-left:900px;
margin-top: -820px;
background: rgba(76, 175, 80, 0.3);
opacity: 0.3;
}

img:hover {
    opacity: 1.0;
}

p {
    color: rgb(136, 146, 176);
    font-size: 12.8px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
     
}