<div class="text">
    <div>
        <div class="head">Full Stack Dev</div>
        <div class="Company">@ CRSA</div>
        <div style="margin-top:.8em">October 2015 - September 2016</div>

        <div>
            <ul class="arrow">
                <li class="color" style="margin-top:1.5em">
                    <div class="point1">
                        Implemented Object-relation mapping in the persistence layer using hibernate framework 
                        with validation.xml functionality</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point2">
                        Extensively used DAO patterns, including mapping DAO objects, configure file and classes to interact
                        with database.</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point3">
                Worked the application using Struts (MVC Framework) and Strut Tiles to develop presentation tier and
                business layer and Implemented Object-relation mapping in the persistence layer using hibernate</div>
                </li>
            </ul>
        </div>
    </div>
</div>