
<div class="centerContact">

 
<div class="p1">05. What's Next?
    <hr class="newContact">
</div>

<h1>Get In Touch</h1>
Although I'm not currently looking for any new opportunities, my inbox is always open. Whether you have a Question or
just want to say hi, I'll try my best to get back to you!


<div style="margin-top:4.2em">
    <button class="buttonContact" onclick="window.open('mailto:chinna.sri0@gmail.com')">Say Hello</button>
</div>
<div style="margin-top:12.5em;">
    <app-footer></app-footer></div>
</div>

