<div class="centerSkills">
    <div class="p1">03. Skills
        <hr class="newS">
    </div>
    Here are a few technologies I've been working with recently:
    <div class="boxSkills"></div>
    <table style="margin-top:3em; margin-left:-5em;">
        <tr>
            <td class="smallBox"><span class="smallBox">HTML</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">CSS</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">ANGULAR</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">TYPESCRIPT</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">Node J.S</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
        &nbsp;
        <tr>
        <td class="smallBox"><span class="smallBox">JAVA</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td class="smallBox"><span class="smallBox">REST</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td class="smallBox"><span class="smallBox">SPRING</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td class="smallBox"><span class="smallBox">SCALA</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td class="smallBox"><span class="smallBox">SPARK</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
        &nbsp;
        <tr>
            <td class="smallBox"><span class="smallBox">PROTRACTOR</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">RUBY</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">AWS</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">PCF</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="smallBox"><span class="smallBox">...</span></td>&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
    </table>
</div>