body {
background-color: rgb(10, 25, 47);
}

#wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  min-height: 90%;
  background-color: rgb(10, 25, 47);
}

header {
  margin-top: -50px;
  min-height: 10%;
  background-color:rgb(10, 25, 47);
}

footer {
  margin-bottom: -50px;
  min-height: 15%;
  background-color: rgb(10, 25, 47);
}

p {
  margin: 0;
  padding: 0 0 1em 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}