body {
background-color: rgb(10, 25, 47);
}

#wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


header {
  margin-top: -50px;
  min-height: 10%;
  background-color:rgb(10, 25, 47);
}
section {
  min-height: 90%;
  background-color: rgb(10, 25, 47);
  height: 700px; 

}

/* Style the list inside the menu */


article {
 float: left;
  padding: 20px;
  width: 70%;
  background-color:  rgb(10, 25, 47);
  height: 700px; 
}


footer {
  margin-bottom: -50px;
  min-height: 15%;
  background-color: rgb(10, 25, 47);
}
