hr.newC {
  border: .01px solid rgb(204, 214, 246);
  width:35%;
  margin-left: 325px;
  margin-top: -1.5px;
  
}

.space {
   margin-top: 1.5em;
}
.buttonCareer {
  background-color: rgb(10, 25, 47); /* Green */
  border: none;
  color:rgb(204, 214, 246); 
  padding: 6px 16px 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: .5px solid rgb(10, 25, 47);;
}

.buttonCareer:hover {
  background-color: rgb(23, 42, 69);
  border: 2px solid  rgb(23, 42, 69); 
  color:rgb(114, 201, 178); 
}

.box {
  width: 550px;
  height: 280px;  
  padding: 20px;
  border: 1px solid rgb(10, 25, 47);
  margin-left: 175px;
  margin-top: -280.5px;
  position: absolute;
}
.box:hover {
    border: 1px solid rgb(114, 201, 178); 

}
