<div class="center">
    <div class="p1">02. Where I've Worked
        <hr class="newC">
    </div>

    <div>
        <ul class="sub-menu">
            <li class="space">
                <button (click) ="resume('vanguard')" class="buttonCareer">Vanguard</button>
            </li>
            <li class="space">
                <button (click) ="resume('nationwide')" class="buttonCareer"> Nationwide </button>
            </li>
            <li class="space">
                <button (click) ="resume('gordian')" class="buttonCareer"> Gordian </button>
            </li>
            <li class="space">
                <button (click) ="resume('crsa')" class="buttonCareer"> CRSA </button>
            </li>
        </ul>
      
    </div>
    <div class = "box">

    <div *ngIf="vanguard"> 
        <app-vanguard></app-vanguard>
    </div>
    <div  *ngIf="nationwide">
        <app-nationwide></app-nationwide>
    </div>
    <div  *ngIf="gordian">
        <app-gordian></app-gordian>
    </div>
    <div  *ngIf="crsa">
        <app-crsa></app-crsa>
    </div>
</div>

</div>