<div class="center">
    <div class="p1">02. Where I've Worked
        <hr class="newC">
    </div>

    <div>
        <ul class ="sub-menu">
            <li>
                Vanguard
            </li>
            <li>
                NationWide
            </li>
            <li>
                Gordian
            </li>
            <li>
                CRSA
            </li>
        </ul>
        <div>

           
            MullenLowe
            UI Engineer Co-op @ Apple
            July - Dec 2017

            Developed and shipped highly interactive web applications for Apple Music using Ember.js
            Built and shipped the Apple Music Extension within Facebook Messenger leveraging third-party and internal
            APIs
            Architected and implemented the front-end of Apple Music's embeddable web player widget, which lets users
            log in and
            listen to full
        </div>

    </div>