hr.newC {
  border: .01px solid rgb(204, 214, 246);
  width:35%;
  margin-left: 325px;
  margin-top: -17.5px;
  
}
.sub-menu {
    padding: 0;
    border: 1px solid black;
    max-height: 4.5em;
    overflow-y: auto;
}

.sub-menu li {
    font-size: 1em;
    padding: .25em 1em;
    line-height: 1em;
}

.sub-menu li:hover {
    background: #f1f1f1;
}