<div class="text">
    <div>
        <div class="head">Scala Developer</div>
        <div class="Company">@ Vanguard</div>
        <div style="margin-top:.8em">March 2019 - Present</div>

        <div>
            <ul class="arrow">
                <li class="color" style="margin-top:1.5em">
                    <div class = "point1">
Handled data processing from configuration, multiple data sources and repositories using Spark using
Scala.</div>
                </li>
                <li class="color" style="margin-top:1.5em">
                    <div class="point2">
Developed shell scripts for integrating all the components like hive queries, Map Reduce jobs, excel files
and other components.</div>
                </li>
                <li class="color" style="margin-top:1.5em"><div class="point3">
Collaborate with infrastructure and security architects to integrate enterprise information architecture
into overall enterprise architecture.</div>
                </li>
            </ul>
        </div>
    </div>
</div>
