
.buttonProfile {
  background-color: rgb(10, 25, 47); /* Green */
  color:rgb(100, 255, 218); 
  padding: 16px 32px;
  transition-duration: 0.4s;
  border: 2px solid rgb(191, 233, 223);
}

.buttonProfile:hover {
  background-color: rgb(114, 201, 178); 
  border: 2px solid rgb(2, 41, 32); 
}



div.profile {
text-align: left;
color:  rgb(136, 146, 176);
padding: 150px;
margin-left: 3em;
}
p.p1 {
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
}