
<div class = "profile">
  <p class= "p1">Hi, my name is</p>

  <h1 >Srinivas Goud Thadakapally.</h1>
  <h2>I build things for the web.</h2>
  I'm a software engineer based in Malvren, PA specializing in building (and occasionally designing) exceptional
  websites,
  applications, and everything in between.
 
<div style="margin-top:2.5em">
  <button class="buttonProfile" onclick="window.open('mailto:chinna.sri0@gmail.com')">Get In Touch</button>
  </div>
</div>
<div>
  <app-left-side></app-left-side>
</div>
