div.profile {
text-align: left;
color:  rgb(136, 146, 176);
padding: 150px;
}

h1 {
font-size: 55px;
color: rgb(204, 214, 246);
}

h2 {
font-size: 40px;
color: rgb(154, 165, 201);
}




p.p1 {
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
}
