<div class="mySidenav">
<a (click)="onClick('about')" class="about">About</a>
<a (click)="onClick('career')" class="career">Career</a>
<a (click)="onClick('skills')"class="skills">Skills</a>
<a (click)="onClick('projects')"class="projects">Projects</a>
<a (click)="onClick('contact')" class="contact">Contact</a>
</div>

<div>
<div id="about">
<app-about></app-about>
</div>
<div id="career">
    <app-career></app-career>
</div>
<div id="skills">
    <app-skills></app-skills>
</div>
<div id="projects" style="margin-top:5.5em">
    <app-projects></app-projects>
</div>
<div id="contact" style="margin-top:12.5em">
    <app-contact></app-contact>
</div>

</div>


